@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}