{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["> 99.5%"]
      }
    }],
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "jsx-control-statements",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
