{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 99.5%"]
      }
    }],
    "react",
    "flow"
  ],
  "plugins": [
    "jsx-control-statements",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
